<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('includes/head', { title: postData.title }) %>
		<link rel="stylesheet" href="/styles/posts.css" />
	</head>

	<body>
		<%- include('includes/header') %>
		<main id="post-detail">
			<h1><%= postData.title%></h1>
			<section id="post-meta">
				<address>
					<a href="emailto:<%= postData.author_email%>">
						<%= postData.author_name%>
					</a>
				</address>
				<time datetime="<%= postData.date%>">
					<%= postData.humanReadableDate%>
				</time>
			</section>
			<hr />
			<section>
				<p id="body"><%= postData.body %></p>
			</section>
		</main>
	</body>
</html>
